@CHARSET "UTF-8";
/*- Portal.BrSU.BY, 2011 | mail@Portal.BrSU.BY */
#container {
	border: 1px solid #999;
	margin: 0 auto;
}

#header {
	background: #B0C4DE;
	height: 106px;
}

#header h3 {
	margin: 10px;
}

#headerLeft {
	float: left;
}

#headerRight {
	float: right;
}

#headerRight a {
	color: black;
}

#headerRight a:hover {
	color: #f00;
}

#headerRight form {
	margin: 10px;
}

#nav {
	height: 36px;
	font-weight: bold;
	line-height: 1.8em;
	
}
#nav ul {
        list-style-type: none;
        margin: 0;
}
#nav li {
	display: inline;
	margin: 0 8px;
}

#nav li a {
	color: black;
}

#nav li a:hover {
	color: #f00;
}

.tabl {
	margin: 5px auto;
}

#footer {
	background: #B0C4DE;
	color: black;
	font-size: 70%;
	padding: 5px;
	clear: both;
}

#footer a {
	color: #ff0;
}

#footer a:hover {
	color: #f00;
}

#footer p {
	padding: 2px;
	text-align: center;
}

.clearfloat {
	clear: both;
}

.help{
	 color:gray;
	 font-style:italic;
	 width: 130px;
}
.help1{
	color: black;
	font-style: normal;
	width: 130px;
}
.redfont{
	color: red;
	text-align: center;
	font-style: inherit;
}