<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Документ без названия</title>
</head>
<link rel="stylesheet" type="text/css" href="style.css"  />
<body>

<div class="main">
	<div class="header"><div><a href="#"><img alt="Logo" id="Logotype" src=""/> </a></div>
    	
        <div id="Input_reg"><form >
        
        	<label for="Log">Login</label><input type='text' id="Log"/><br />
            <p class="P_Pass"><label for="Pass">Password</label><input type='password' id="Pass" /></p>
            <input type="submit" value="Log in"/ id="Log_in">
       
        </form></div>
    </div>
    <div class="navigation">
    	<div class="menu"><ul>
        <li><a href="#">Main</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Members/People</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">CV/Jobs</a></li>
        </ul></div>
        <div class="Menu_search">
        	<form>
            	<input type="text" value="What do you need?"/>
                <input type="submit" value="Search" id="butt_Search"/>
            </form>
        </div>
    </div>
    <div class="content"> 
    	<div class="leftbar">Personal Information</div>
        <div class="centerbar">Content</div>
        <div class="rightbar">Fun and Marketing</div>
    </div>
   <div class="footer"><a href="#">Footer</a></div> 


</div>

</body>
</html>
