@charset "utf-8";
/* CSS Document */

.main {
	background-color:#009;
	margin:0px auto 0 auto;
	height:100%;
	padding:0;
	min-width:1300px;
}
#Input_reg {position:absolute;
margin:10px 0 auto 1000px;
}	
#Log, #Pass {position:absolute;
left:70px;
}
#butt_Search {position:absolute; left: 165px;}
p.P_Pass
{margin-top:10px; float:left;}

#Log_in{position:absolute;margin-left:180px; margin-top:10px;}

.header {
	background-color:#FFF;
	height:70px;
	border-width:thin;
	border-color:#000;
	border-style:solid;
	padding:0;
	width:100%;
	
}

#Logotype {width:100px;
height:70px;
display:block;
border:thin;
border-right-style:solid;
float:left;
}

.navigation {
	
	margin:0;
	border-width:thin;
	border-color:#000;
	border-style:solid;
	padding:0px;
}
.navigation ul 
{margin:0;
padding:0px 10px 0px 10px;}

.navigation li {display:inline; padding:0 0px 0 0px;}

.navigation a{color:#000}

.menu {float:left; }

.content {background-color:#600;
width:100%; min-height:600px;
}

.Menu_search{position:relative; margin-left:1100px;}

.leftbar {position:relative; width:25%; background:#CCC; float:left; margin:10px; height:580px; }
.rightbar{position:relative; width:25%; background:#999; float:left;margin:10px; height:580px;}
.centerbar {position:relative; width:45%; background:#FFF; float:left;margin:10px; height:580px;}

.footer {background-color:#F00}

.footer a {margin:10px;}