@CHARSET "UTF-8";
/*- Portal.BrSU.BY, 2011 | mail@Portal.BrSU.BY */

body {
	background-color: #FFFFCC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 24px;
	color: #333333;
}

#container {
	border: 1px solid #999;
	margin: 0 auto;
}

#header {
	height: 106px;
	/*font-family: Georgia, "Times New Roman", Times, serif;*/
	font-size: 24px;
	background-image:url(images/pinks.png);
    color: #FFFF66;

}

#header h3 {
	margin: 10px;
	color:#000000
}

#headerLeft {
	float: left;
}

#headerRight {
	float: right;
}

#headerRight a {
	color:#FFCCFF;
	text-decoration:none;
	font-size:20px
	
}

#headerRight a:hover {
	color: #FFFFFF;
	text-decoration:none;
}

#headerRight form {
	margin: 10px;
}
/*.title {
	/*font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	line-height: 30px;
  background-color: #990000; color: #FFFF66;
} 
*/

#nav {
	height: 36px;
	font-weight: bold;
	line-height: 1.8em;
	/*font-family: Georgia, "Times New Roman", Times, serif;*/
	font-size: 12px;
	font-weight: bold;
	background-color: #DABAED
	
}
#nav ul {
        list-style-type: disc;
        margin: 0;
		
}
#nav li {
	display: inline;
	margin: 0 8px;
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-size: 14px;
	font-weight: bold

}

#nav li a {
	color: #000000;
	text-decoration:none

}
#nav li a:visited{color:#330099}

 
  

#nav li a:hover {
	color: #FFFFFF
}

#tabl {
	margin: 5px auto;
}

#footer {
	background: #DABAED;
	color: black;
	font-size: 70%;
	padding: 5px;
	clear: both;
}

#footer a {
	
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 22px;
	color: #333333;
	background-color: #FFFF99;

}

#footer a:hover {
	color: #f00;
}

#footer p {
	padding: 2px;
	text-align: center;
}

.clearfloat {
	clear: both;
}

.help{
	 color:gray;
	 font-style:italic;
	 width: 130px;
}
.help1{
	color: black;
	font-style: normal;
	width: 130px;
}
.redfont{
	color: red;
	text-align: center;
	font-style: inherit;
}
.greenfont{
	color: green;
	font-style: inherit;
}

#sidebar {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	line-height: 18px;
	padding: 3px;
	background-color: #FFFF99;
}

#sidebarHeader {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	line-height: 18px;
	color: #FFFF99;
	background-color: #999933;
 font-weight: bold;
}

#sidebarFooter {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	line-height: 18px;
	background-color: #FFFF99;
 color: #990000;
}

.footer {
  font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 22px;
	color: #333333;
	background-color: #FFFF99;
}



.hotspot {color:#900; padding-bottom:1px; border-bottom:1px dotted #900; cursor:pointer}

#tt {position:absolute; display:block; background:url(images/tt_left.gif) top left no-repeat}
#tttop {display:block; height:5px; margin-left:5px; background:url(images/tt_top.gif) top right no-repeat; overflow:hidden}
#ttcont {display:block; padding:2px 12px 3px 7px; margin-left:5px; background:#666; color:#FFF}
#ttbot {display:block; height:5px; margin-left:5px; background:url(images/tt_bottom.gif) top right no-repeat; overflow:hidden}

/************ #headlines style ******************/
#headlines {
margin:0px;
padding:10px 0px 20px 10px;
font-size:80%
}
 
#headlines p{
font-size:15px;
padding:5px 0px 5px 0px
} 

#headlines a{
text-decoration:none;
}

/*************** .feature styles **************/
.feature {
padding:0px 0px 10px 10px;
text-size:80%;
}

.feature h3{
padding:30px 0px 5px 0px;
text-align:center;
}

.feature img{
float:left;
padding:10px 10px 0px 0px;
}

/************** #advert styles **************/

#advert{
	padding: 30px 0px 10px;
}

#advert img{
	display: block;
}

/* Layout Divs                                 */
/***********************************************/


#navBar{
  float: right;
	width: 20%;
	margin: 0px;
	padding: 0px;
	background-color: #eeeeee;
	border-left: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}

#headlines{
  float:left;
	width: 20%;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	padding-right: 10px;
}

#content{
  float: left;
  width: 55%;
}

/************** .story styles *****************/

.story{
	clear: both;
	padding: 10px 0px 0px 10px;
	/*font-size: 80%;*/
}

.story p{
	padding: 0px 0px 10px 0px;
	font-size:10px;
}

/*********** #sectionLinks styles ***********/

#sectionLinks{
	position: relative;
	margin: 0px;
	padding: 0px;
	border-bottom: 1px solid #cccccc;
	font-size: 90%;
}

#sectionLinks h3{
	padding: 10px 0px 2px 10px;
}

#sectionLinks a {
	display: block;
	border-top: 1px solid #cccccc;
	padding: 2px 0px 2px 10px;
}

#sectionLinks a:hover{
	background-color: #dddddd;
}
