/*@CHARSET "UTF-8";
/*- Portal.BrSU.BY, 2011 | mail@Portal.BrSU.BY */
body {
	background: url(images/body.jpg);
	font: normal 13px Verdana, sans-serif;
	color: #345;
	padding-bottom: 1em;
}

a {
	color: #06A;
}

a:hover {
	color: #036;
}

p {
	padding: 0.1em 0 0.8em;
}

h1 {
	font: normal 2.8em Georgia, Tahoma, sans-serif;
}

h2 {
	font: normal 1.5em Georgia, sans-serif;
}

h3 {
	font: bold 1em Tahoma, sans-serif;
}

.Read {
	
	}
.notRead {
	background-color: silver;	
	}
.news {
	margin-top: 30px;
	border-bottom: 2px #5C87B2 solid;
		}
/************* Registration ****************/
#registration {
	font-size: 9pt;
	float: right;
}

#registration input {
	float: left;
	color: blue;
	width: 80px;
}

/* ----------------------------------------
   Layout 
------------------------------------------- */
#layout_wrapper {
	margin: 10px auto 0px;
	width: 1100px;
	background: #FFF;
	padding: 0px 3px ;
	display: block;
	
}



/* Site Title */

#site_title h1 {
	font: normal 2.4em sans-serif;
	letter-spacing: 1px;
}

#site_title h1 a {
	text-decoration: none;
}

#site_title h1 a:hover {
	color: #305A7A
}

.logotip {
	float: left;
	margin-top: 0px;
}

#registration {
	float: right;
}

/* Navigation and menu */
#navigation {
	background: url(images/navigation.jpg) repeat-x left bottom  ;
	padding: 50px 10px 0;
	
}
/************** meny ****************/

#menu {
	border-bottom: 1px #5C87B2 solid;
	text-align: left;
	margin: 0px 230px 0px 230px;	
}

#menu li {
	display: inline;
	list-style: none;
}

#menu li a {
	padding: 10px 20px;
	font-weight: bold;
	text-decoration: none;
	line-height: 30px;
	background-color: #e9eef4;
	color: #034af3;
}

#menu li a:hover {
	background-color: #fff;
	text-decoration: none;
}

#menu li a:active {
	background-color: #a6e2a6;
	text-decoration: none;
}

#menu li.selected a {
	background-color: black;
	color: white;
}

/************* secondary_meny ***************/
#secondary_menu {
	border-bottom: 0px #5C87B2 solid;
	text-align: left;
	margin: 0px 230px 0px 230px;
	}

#secondary_menu li {
	display: inline;
	list-style: none;
}

#secondary_menu li a {
	padding: 3px 8px;
	font-weight: bold;
	text-decoration: none;
	line-height: 13px;
	background-color: #5C87B2;
	color:#FFF;
}

#secondary_menu li a:hover {
	background-color: #a6e2a6 ;
	text-decoration: none;
}

#secondary_menu li a:active {
	background-color: #a6e2a6;
	text-decoration: none;
}

#secondary_menu li.selected a {
	background-color: #fff;
	color: white;
}

/************** main_content ****************/

#main_content {
background-color: #FFF;
overflow: hidden;

}

/******* Content ******************/

#content {
margin: 0 230px 0 230px;
display: block;
}



/* ----------------------------------------
   Sidebar box
------------------------------------------- */
#main_left {
	width: 220px;
}

#main_right {
	width: 220px;
}

.right {
	float: right;
}
.left {
	float: left;
}

.box {
	margin-bottom: 10px;
}

.box_title {
	background: url(images/box_title.gif) top;
	padding: 6px 8px 5px;
	font-weight: bold;
	font-size: 0.9em;
}

.box_body {
	
	padding: 8px 0px 1px;
	font-size: 0.9em;
	background-color: #DAE3E9;
}


.box ul {
	margin-left: 0;
}

.box li:first-child {
	border-top: none;
}

.box ul li {
	list-style: none;
	padding: 4px;
	border-top: 1px solid #E2ECF2;
}

.box ul a {
	text-decoration: none;
}

.box ul a:hover {
	text-decoration: underline;
}

/* Footer */
#footer {
	font-size: 10pt;
	color: black;
	margin: auto auto 0;
	position: relative;
	width: 1100px;
	height: 30px;
	background: #DAE3E9;
}

#footer .right a {
	color: black;
	text-decoration: none;
}

#footer .right a:hover {
	color: #FFE;
	text-decoration: underline;
}


/******************** table *******************/
table {

		background:#EFF4FB;
		font:1em Trebuchet MS, helvetica,arial,verdana;
		color: #333;
		width: auto;
		height: auto;
		display: block;
		
		
		
}

td, th {
		padding:5px;
}
table a {
		color:#950000;
		text-decoration:none;
}
table a:link {}

table a:visited {
		font-weight:normal;
		color:#666;
		text-decoration: line-through;
}

table a:hover {
		border-bottom: 1px dashed #bbb;
}

#content fieldset {
background: #EFF4FB;
}

#content_message label {
width: 80px;
float: left;
}

#content_message input {

width: 250px;
margin: 2px 1px 2px 1px;
}

#content_message textarea {
margin: 2px 1px 2px 1px;
width:500px;
max-width: 500px;
max-height: 300px;
min-width: 500px;
min-height: 150px;

}
#content_message select {
	margin: 4px 0px;
}
#button input {
	margin-top: 10px;
width: auto;
float: left;
}

.tableEmail {
	width: 200px;
}

.tableTitle {
	width: 200px;
}
#table {
	margin-top: 10px;
}