@CHARSET "UTF-8";
/*- Portal.BrSU.BY, 2011 | mail@Portal.BrSU.BY */
#container {
	width: 760px;
	border: 1px solid #999;
	margin: 0 auto;
}

#header {
	color: Black;
	background: #665;
	width: 760px;
	height: 106px;
}

#header h3 {
	margin: 10px;
}

#headerLeft {
	float: left;
}

#headerRight {
	float: right;
}

#headerRight a {
	color: #0c0;
}

#headerRight a:hover {
	color: #f00;
}

#headerRight form {
	margin: 10px;
}

#nav {
	width: 760px;
	height: 36px;
	color: #f00;
	font-size: 1.2em;;
	font-weight: bold;
	line-height: 1.8em;
	text-align: center;
}

#nav ul {
	list-style-type: none;
}

#nav li {
	display: inline;
	margin: 0 8px;
}

#nav li a {
	color: #0c0;
}

#nav li a:hover {
	color: #f00;
}

a {
	text-decoration: none;
}

#text {
	width: 545px;
	font-size: 1.2em;
	margin: 10px auto;
}
 {
	
}
.tabl {
	font-size: 0.9em;
	margin: 5px auto;
}

	

#footer {
	background: #665;
	color: #fff;
	font-size: 70%;
	padding: 5px;
	clear: both;
}

#footer a {
	color: #ff0;
}

#footer a:hover {
	color: #f00;
}

#footer p {
	padding: 2px;
	text-align: center;
}

.clearfloat {
	clear: both;
}

.help{
	 color:gray;
	 font-style:italic;
	 width: 130px;
}
.help1{
	color: black;
	font-style: normal;
	width: 130px;
}